<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Engine.IO.Client" version="1.0.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" />
  <package id="Nethereum.ABI" version="4.14.0" />
  <package id="Nethereum.BlockchainProcessing" version="4.14.0" />
  <package id="Nethereum.Contracts" version="4.14.0" />
  <package id="Nethereum.Hex" version="4.14.0" />
  <package id="Nethereum.JsonRpc.Client" version="4.14.0" />
  <package id="Nethereum.JsonRpc.RpcClient" version="4.14.0" />
  <package id="Nethereum.Merkle.Patricia" version="4.14.0" />
  <package id="Nethereum.Model" version="4.14.0" />
  <package id="Nethereum.RLP" version="4.14.0" />
  <package id="Nethereum.RPC" version="4.14.0" />
  <package id="Nethereum.Signer" version="4.14.0" />
  <package id="Nethereum.Signer.EIP712" version="4.14.0" />
  <package id="Nethereum.Util" version="4.14.0" />
  <package id="Nethereum.Web3Lite" version="4.14.0" />
  <package id="Portable.BouncyCastle" version="1.8.2" />
  <package id="Square.OkHttp3" version="3.8.1" />
  <package id="Square.OkIO" version="1.13.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.2" />
</packages>